html, 
body {
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}





body {
    
    background: #172755; 
  }

.hero {

    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}


.robot {
    
    height: 350px;
    position: relative;
    justify-content:center;
    align-items: center;
    animation: MoveUpDown 1.2s ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(24px);
    }
  }


.bubble {
    position: relative;
    background: #8a87c7;
    color: #eeff00;
    font-family: Ruda;
    font-size: 22px;
    line-height: 24px;
    text-align: start;
    width: 446px;
    height: 130px;
    border-radius: 10px;
    padding: 16px;
    top: -100px;
    left: 0px;
    
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 23px 26px;
    border-color: transparent transparent #8a87c7 transparent;
    top: 75%;
    left: -26px;
    margin-top: -11.5px;
}

#selectionButtons {
    position: absolute;
    top: 60%;
    left: 200px;
    
}

.selectBtn{
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.button-img {
  height: 64px;
}


.css-typing p {

  font-family: 'Silkscreen' ;
  letter-spacing: 0.1px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  
}



.css-typing p:nth-child(1) {
  width: 50ch;
  -webkit-animation: type 2s steps(100, end);
  animation: type 2s steps(100, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 50ch;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    /* border-right: .15em solid orange; */
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    /* border-right: .15em solid orange; */
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    /* border-right: .15em solid orange; */
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    /* border-right: .15em solid orange; */
  }
  100% {
    opacity: 1;
    border: none;
  }
}

